{% extends "learning_logs/base.html" %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}


{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
  </p>

    {% for entry in entries %}
      <div class="card mb-3">
        <div class="card-header">
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small>
              <a href="{% url 'learning_logs:edit_entry' entry.id %}">
                edit entry
              </a>
            </small>
        </div>
        <div class="card-body">
          {{ entry.text|linebreaks|truncatewords:50 }}
        </div>
      </div> <!--panel -->
    {% empty %}
      There are no entries for this topic yet.
    {% endfor %}


{% endblock content %}